APP_NAME=pilarweb
APP_SLUG=pilarweb
APP_PORT=3000
NODE_ENV=production

# JWT - shared secret with pilargroup
JWT_SECRET=oemcZIj5UpZrYEYkxDZHwap5tOimaSGXEQmXp6prrprjbEyN4YHeuqlDtRSksm7q

# Internal Endpoint secret - shared secret with pilargroup
INTERNAL_SYNC_SECRET=7iNxM2C8fAh7tQXkNruF3g93tqSyHvQU

# Internal Endpoint secret - shared secret with itembase
ITEMBASE_INTERNAL_SECRET=f3bb65b8630c66a898d7fb5e64f25dd43ceaae3ff74a5f4a03c586fdb8761f48

# Pilargroup base URL
PILARGROUP_URL=https://pilargroup.id

# CORS
CORS_ORIGIN=https://pilarweb.pilargroup.id

# pilarweb database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pilarweb

# Dev auth off in production
DEV_AUTH_ENABLED=true
DEV_AUTH_USERNAME=azi
DEV_AUTH_PASSWORD=pass123